.home__container {
    width: 100%;
    min-height: 100vh;
}

.feed__container {
    min-height: 95vh;
    background-color: var(--website--background);
    padding-top: 2em;
    font-family: 'Inter', sans-serif;

}

.footer {
    padding: 1em;
    background-color: var(--website--background);
}