.profile__container {
    width: 100%;
    min-height: 100vh;
}

.profile__content {
    min-height: 98vh;
    background-color: var(--website--background);
    padding-top: 3em;
    font-family: 'Inter', sans-serif;

}

.user__info {
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    width: 40em;
    max-width: 75%;
    margin: 0 auto;
    border-radius: .3em;
    padding: 1em;
}

.profile__posts {
    display: flex;
    flex-direction: column;
    margin: 5em auto 0 auto;
    width: 40em;
    max-width: 75%;
    gap: 1em;
}

.profile__post {
    border-radius: .3em;
    padding: 1em;
    width: 100%;
    background-color: var(--white);
}

.profile__post__description {
    padding: 1em 0;
}

.profile__post__button {
    background-color: var(--primary);
    width: 10em;
    height: 2em;
    border: none;
    border-radius: .3em;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: .9rem;
}

.profile__post__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.delete__post {
    border: none;
    background: none;
    cursor: pointer;
}