.profile__container {
    width: 100%;
    min-height: 100vh;
}

.profile__content {
    min-height: 98vh;
    background-color: var(--website--background);
    padding-top: 3em;
    font-family: 'Inter', sans-serif;

}

.user__info {
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    width: 40em;
    max-width: 75%;
    margin: 0 auto;
    border-radius: .3em;
    padding: 1em;
}