.profiles {
    width: 36em;
    max-width: 80%;
    margin: 5em auto 0 auto;
    padding: .5em;
    font-family: 'Inter', sans-serif;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8em;
    width: 100%;
    background-color: var(--white);
    border-radius: .3em;
    margin-top: 1em;
}

.profile__info {
    display: flex;
    align-items: center;   
    gap: 1em; 
    width: 13em;
    max-width: 100%;
}

.profile__button {
    border: none;
    border-radius: .3em;
    font-size: 1rem;
    width: 5em;
    height: 2em;
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
}

.follow {
    background-color: var(--secundary);
}

.unfollow {
    background-color: var(--orange);
}

@media (max-width: 480px) {
    .profile {
        flex-direction: column;
    }
}