.feed__content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.post__container {
    background-color: var(--post--background);
    margin: 0 auto;
    width: 40em;
    max-width: 75%;
    padding: 1em;
    border-radius: .3em;
}

.author {
    color: var(--author);
    font-weight: 400;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1rem;
}

.readmore__button {
    background-color: var(--primary);
    border: none;
    border-radius: .3em;
    width: 10em;
    height: 2em;
    max-width: 100%;
    margin-top: 2em;
    font-size: .9rem;
    cursor: pointer;
}

.post__title {
    font-size: 1.3rem;
}